<!DOCTYPE html>
<html>
  <head>
    <title>Onestep Minesweeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background-color:#FBFBFB;">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <%# <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> %>
          <%= image_tag "mine_logo.png", width:30, alt:"minesweeper logo" %>          
          Onestep Minesweeper
        </a>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
